
<html>
    <head>
      <title>Node.js Getting Started on Heroku</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    
    <body>
    
      

      <% leads.forEach(function (lead) { %>
        <li>  
            <%= lead.name %>
        </li>                                   
    <% }) %>

    </body>
    </html>
    