
<html>
    <head>
      <title>Node.js Getting Started on Heroku</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    
    <body>
    
    

      <h2>Variable</h2>
      <p><%= tagline %></p>
    

      <h2>Loop</h2>

<ul>
    <% drinks.forEach(function(drink) { %>
        <li><%= drink.name %> - <%= drink.drunkness %></li>
    <% }); %>
</ul>
    </body>
    </html>
    