
<html>
    <head>
      <title>Node.js Getting Started on Heroku</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    
    <body>
    
    


      <h2>Loop</h2>

<ul>
    <% records.forEach(function(drink) { %>
        <li><%= drink.Id %> </li>
    <% }); %>
</ul>

    
    </body>
    </html>
    